<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>supereye_ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ADE1BA2A1C673AF90094FC1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADE1BA3E1C673AF90094FC1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADE1BA491C673AF90094FC1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
